<div class="container">
  
<h1>Welcome to National Parks Registry</h1>

<p>The United States has 59 protected areas known as national parks that are operated by the National Park Service, an agency of the Department of the Interior. National parks must be established by an act of the United States Congress. The first national park, Yellowstone, was signed into law by President Ulysses S. Grant in 1872, followed by Mackinac National Park in 1875 (decommissioned in 1895), and then Rock Creek Park (later merged into National Capital Parks), Sequoia and Yosemite in 1890. The Organic Act of 1916 created the National Park Service "to conserve the scenery and the natural and historic objects and wildlife therein, and to provide for the enjoyment of the same in such manner and by such means as will leave them unimpaired for the enjoyment of future generations."[1] Many current National Parks had been previously protected as National Monuments by the President under the Antiquities Act before being upgraded by Congress. Seven national parks (six in Alaska) are paired with a National Preserve. While administered together, they are considered as separate units and their areas are not included in the figures below. The newest national park is Pinnacles National Park, upgraded in 2013.</p>

<%= link_to('Show All Parks', parks_index_path, class: 'btn btn-success') %>

<%= link_to('Show All Rangers', rangers_path, class: 'btn btn-primary') %>

</div>

