<h1>Welcome to National Parks List</h1>
<h3>The National Park Service was created in 1916 by President Woodrow Wilson in order to preserve America's natural and historic scenery. The NPS oversees over 400 units of preserves, monuments, battlefields, and parks. 59 of these units are officially designated as National Parks.</h3>
<div>
	<%= link_to "Parks List", "/parks"%>
</div>
