<div class="pic">
  <div class="container">
    <div class="jumbotron">
      <div class="jumbo">
        <h2>America the Beautiful National Parks</h2>
        <p>Respect your national Parks yo</p>
      </div>
      <div
        <p><a class="btn btn-primary btn-lg" href="/parks" role="button">Explore Parks</a></p>
      </div>
  </div>
</div>
<!-- <div class="picture-frame">
  <img class="picture" src="http://www.oddcities.com/wp-content/uploads/2015/04/23_1mountain_lakes__glacier_national_park__montana.jpg">
</div> -->