<h1>National Parks!</h1>
<hr />
<h3>...and any other parks you want to add</h3>

<a href="parks/new">Add Park</a>

<% @parks.each do |park| %>
	<a href="parks/<%= park.id %>"><h3><%= park.name %></h3></a>
<% end %>
