<h1>National Parks</h1>


<%= link_to('New Parks', new_park_path, class: "btn btn-primary") %>
<%= link_to('Show Employed Rangers', ranger_index_path, class: "btn btn-primary") %>
<%= link_to('New Rangers', new_ranger_path, class: 'btn btn-primary') %>


<% @parks.each do |park| %>
  <h2><%= link_to(park.name, park_path(park)) %></h2>
<% end %>

