<h1>National Parks</h1>
<p>A list of beautiful natural wonders for you to visit</p>

<%= link_to('Add a Park', new_park_path) %>

<% @parks.each do |park| %>
  <hr/>
  <h2 class="parkName"><%= link_to(park.name, park_path(park)) %></h2>
  <img src="<%=  park.picture %>" alt="Picture of <%= park.name %>" class="parkThumbImg">
<% end %>