<h1>Parks#show</h1>
<p>Find me in app/views/parks/show.html.erb</p>




<h1> <%= @park.name %></h1>

<p> <%= @park.created_at %></p>

<p> <%= @park.description %></p>

<img src=<%= @park.picture %> placeholder="http://images.thehollywoodgossip.com/iu/s--ssVDTDTP--/t_teaser_wide/f_auto,fl_lossy,q_75/v1420733814/nic-cage-is-nuts.png">


