<h1>Parks#show</h1>
<p>Find me in app/views/parks/show.html.erb</p>

<p><%= @park.name %> - <%= @park.description %></p>
<p><img src='<%= @park.picture%>'></p>
<%= link_to('Back to Home', parks_path) %>
