<h1 class="header"><%= @ranger.name %></h1>

	<% @ranger.parks.each do |p| %>
	<h1 class="header"><%= p.name %></h2>

<% end %>

<%= link_to('Edit This Ranger', edit_ranger_path, class:"btn btn-primary header btnPadding") %>