// Place all the styles related to the parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	width: 100%;
	height: 100%;
}
.background-image {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	transform: blur 50;
	background-size:cover;
	z-index: -1;
	overflow: hidden;
}