<h1>NatPark#show</h1>
<p>Find me in app/views/nat_park/show.html.erb</p>

 <a href="/index">Home</a>

  <h1><%= park.name %></h1>
  <a href="/parks/<%= @park.id %>/edit">Edit</a>
  <%= link_to "Delete", park_path(@park), method: :delete %>
  <p><%= @park.description %></p>
