<!DOCTYPE html>
<html>
<head>
  <title>RailsNationalParks</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<src img=http://cdn.aarp.net/content/dam/travel/destination-images/utah/zion-national-park/1400-poi-zion-national-park-angels-landing.imgcache.rev1392905372908.web.jpg>
</body>
</html>
